<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicons.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Complaible" content="IE=edge">
  <title>Fever Controller</title>

  <!-- Resources -->
  <!-- Fontawesome icon library Resource -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

  <!-- Bootstrap Webjar Resource -->
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
  <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>

<nav th:insert="fragments/nav.html :: nav_fragment"></nav>

<Header>
  <h1>Fever controller</h1>
</Header>

<main>

  <div>


    <div>
      <form action="/home2/save" th:object="${fever1}" method="POST">

        <label> How much body temperature have you?</label>
        <select th:values="${fever1.bodyTemp}" th:field="*{bodyTemp}">
          <option th:value="NORMAL"> Normal</option>
          <option th:value="FEVER"> Fever</option>
          <option th:value="HYPERTHERMIA"> Hyperthermia</option>
        </select>

        <input th:field="${fever1.treatment}" type="checkbox" class="custom-control-input" id="customControlInline">
        <label class="custom-control-label" for="customControlInline">Order treatment</label>

        <button type="submit" class="btn btn-primary my-1">Submit</button>
      </form>
    </div>

</main>
</body>
</html>